#top{
  margin-top:24px;
}
#top>.center{
  height:670px;
}
#top .top{
  width:1226px;
  height:460px;
  position: relative;
}
#top .top .left{
  position: absolute;
}
#top .top ul.nav{
  height:420px;
  width:234px;
  position: absolute;
  z-index: 2;
  background: rgba(105,101,101,.6);
  padding: 20px 0;
}
#top .top ul.nav li{
  width:234px;
  height:42px;
}
#top .top ul.nav li:hover{
  background: orange;
}
#top .top ul.nav li a{
  padding-left: 30px;
  color:#fff;
  width:204px;
  display: block;
  height:42px;
  line-height: 42px;
  position: relative;
}
#top .top ul.nav li a span{
  position: absolute;
  right:20px;
  font-size: 20px;
}
#top .top .mid{
  width:600px;
  height:458px;
  border:1px solid #000;
  position: absolute;
  left:234px;
  display: none;
}

#top .top .bg{
  width:1226px;
  height:460px;
  overflow: hidden;
  position: relative;
}
#top .top .bg .pic{
  width:1226px;
  height:460px;
  display: flex;
  position: absolute;
}
#top .top .bg .pic img{
  width:1226px;
  height:460px;
}
#top .top .bg .indicators{
  width:100px;
  height:18px;
  position: absolute;
  display: flex;
  right:20px;
  bottom: 10px;
  justify-content: space-evenly;
}
#top .top .bg .indicators li{
  width:16px;
  height:16px;
  border-radius: 50%;
  background: #fff;
}
#top .top .bg .indicators li:hover{
  cursor: pointer;
}
#top .top .bg .indicators li.active{
  background: #0aa1ed;
}
#top .bottom{
  height:170px;
  width:1226px;
  margin-bottom: 30px;
  display: flex;
  margin:20px 0;
}
#top .bottom>.left{
  width:226px;
  height:170px;
  background-color: #666;
  padding:0;
  display: flex;
  flex-wrap: wrap;
}
#top .bottom>.left>div{
  width:74px;
  height:85px;
  border:1px solid #fff;
  text-align: center;
  border-right:0;
  border-bottom: 0;
  border-width: 80%;
}
#top .bottom>.left>div:hover{
  cursor: pointer;
}
#top .bottom>.left>div>img{
  width:50%;
  margin-top:10px;
}
#top .bottom>.right{
  width:980px;
  height:170px;
  margin-left:22px;
  justify-content: space-between;
  display: flex;
}
#top .bottom>.right:hover{
  cursor: pointer;
}
#top .bottom>.right>.item,#top .bottom>.right>.item>img{
  width:310px;
}


/*-----底部导航-----*/
#bottom_nav{
  background: #fff;
  width:1440px;
}
#bottom_nav>.center{
  width:1226px;
  padding: 0;
}
#bottom_nav>.center>.top{
  border-bottom: 1px solid #e0e0ee;
}
#bottom_nav>.center>.top>ul{
  display: flex;
  padding: 27px 0;
  justify-content: space-evenly;
}
#bottom_nav>.center>.top>ul>li{
  font-size: 16px;
  color:#616161;
  border-left:1px solid #e0e0e0;
  padding-left: 52px;
}
#bottom_nav>.center>.top>ul>li:first-child{
  padding-left: 0;
  border-left:none;
}

#bottom_nav .bottom{
  width:1226px;
  height:202px;
  font-size: 14px;
  padding: 40px 0;
  color:#333;
  display: flex;
  justify-content: start;
}
#bottom_nav .bottom>ul{
  width:160px;
}
#bottom_nav .bottom>ul>li{
  cursor: pointer;
  margin:0;
  padding: 0;
}
#bottom_nav .bottom>ul .title{
  color:#424242;
  margin:-1px 0 20px;
}
#bottom_nav .bottom>ul p{
  margin:10px 0 0;
  color:#757575;
  font-size: 12px;
}
#bottom_nav .bottom .last{
  width:252px;
  height:111px;
  color:#616161;
  text-align: center;
  border-left:1px solid #e0e0e0;
}
#bottom_nav .bottom .last .phone{
  color:#ff6700;
  font-size: 22px;
  margin: 0 0 5px;
}
#bottom_nav .bottom .last p{
  margin:0 0 5px;
  font-size: 12px;
}
#bottom_nav .bottom .last>a{
  color:#ff6700;
  font-size: 12px;
  line-height: 28px;
  display: block;
  border:1px solid #ff6700;
  width:120px;
  height:30px;
  margin:0 auto;
  background:#fff url(../img/msg-active.png) 20px center no-repeat;
}
#bottom_nav .bottom .last>a:hover{
  background:#ff6700 url(../img/msg.png) 20px center no-repeat;
  color:#fff;
}
#bottom_nav .bottom .last .follow{
  width:251px;
  height:21px;
  color:#616161;
  font-size: 12px;
  margin:10px 0 0 ;
  display: flex;
  padding-left: 72px;
}
#bottom_nav .bottom .last .follow .weibo{
  width:24px;
  height:24px;
  display: block;
  margin-left:4px;
  background: url(../img/weibo.png) no-repeat;
}
#bottom_nav .bottom .last .follow .weibo:hover{
  background: url(../img/weibo-active.png) no-repeat;
}
#bottom_nav .bottom .last .follow .weixin{
  width:24px;
  height:24px;
  display: block;
  margin-left:4px;
  background: url(../img/weixin.png) no-repeat;
}
#bottom_nav .bottom .last .follow .weixin:hover{
  background: url(../img/weixin-active.png) no-repeat;
}

/*-----网页底部-----*/
#footer{
  background: #fafafa;
  width:1440px;
  height:264px;
  color:#333;
  font-size: 12px;
  padding: 30px 0;
}
#footer>.center{
  height:264px;
}
#footer .top{
  width:1226px;
  height:108px;
  color:#b0b0b0;
  padding: 0 0 0 67px;
  background: url(../img/logo-mi2.png) no-repeat;
  background-size: 56px;
}
#footer .top p{
  width:1159px;
  height:18px;
}
#footer .top p a:hover{
  color:#ff6700;
}
#footer .top p>a{
  color:#757575;
}
#footer .top p:last-child a{
  color:#b0b0b0;
}
#footer .top p:last-child a:hover{
  color: #ff6700;
}
#footer .bottom{
  width:1226px;
  height:28px;
  padding-left: 67px;
}
#footer .bottom a,#footer .bottom a img{
  width:83px;
  height:33px;
}
#footer>.center>p{
  width:1226px;
  height:19px;
  margin:80px auto 0;
  background: url(../img/footer.png) no-repeat center 0;
}