.item{
  width:234px;
  height:306px;
  margin-left:14px;
  background: #fff;
  text-align: center;
  cursor: pointer;
}
.item:hover{
  transform: translateY(-1px) scale(1.01);
  box-shadow: 0 0 5px gray;
}
.item>img{
  width:160px;
  height:160px;
  margin-top:10px;
}
.item>h3{
  color:#333;
  font-size: 14px;
  margin:20px 10px 2px;
}
.item>.desc{
  color:#b0b0b0;
  font-size: 12px;
  margin:0 10px 10px;
}
.item>.price{
  color:#ff6700;
  font-size: 14px;
  margin:0 10px 14px;
}
li.last{
  width:234px;
  height:306px;
}
li.last>.top{
  width:234px;
  height:103px;
  margin:0 0 14px 14px;
  padding: 50px 0 0;
  background: #fff;
  cursor: pointer;
}
li.last>.top:hover,li.last>.bottom:hover{
  transform: translateY(-1px) scale(1.01);
  box-shadow: 0 0 5px gray;
}
li.last>.top>.show{
  height:50px;
  display: flex;
}
li.last>.top>.show>p{
  width:90px;
  height:63px;
  color:#333;
  font-size: 14px;
  margin:-10px 30px 5px 30px;
}
li.last>.top img{
  width:80px;
  height:80px;
  margin-top:-10px;
}
li.last>.top .price{
  color:#ff6700;
  margin-top:20px;
  text-align: left;
  padding-left:30px
}
li.last>.bottom{
  width:234px;
  height:140px;
  margin-left:14px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #fff;
  cursor: pointer;
}
li.last>.bottom>.look-more{
  width:94px;
  height:45px;
  font-size: 18px;
}
li.last>.bottom>.look_more>p{
  font-size: 12px;
  color:#757575;
}
li.last>.bottom img{
  width:48px;
  height:48px;
  border-radius: 50%;
}